*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### NetBeans ###
/OfferMe_web/nbproject/
/OfferMe_web/dist/
/OfferMe_web/build/
/OfferMe_web/lib/

# Windows image thumbnails 
*.db

# Workbench temp files
*.bak