.form-normal {
    background-color: #eeeeee;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#dddddd;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.form-login {
    background-color: #EDEDED;
    top: 40%;
    left: 35%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    position: fixed;
}

.form-login h4 { 
    border:0 solid #fff; 
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
}

.wrapper {
    text-align: center;
}